.homeWrapper {
  height: 530px;
  width: 320px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    #627a96 0%,
    #83b5c5 19.47%,
    #8dc7d4 39.07%,
    #93d2dc 82.24%,
    #95d6df 100%
  );
}

.homeBtn {
  height: 40px;
  width: 300px;
  color: white;
  background-color: #201238;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.homeBtn:hover {
  background-color:  rgba(40, 45, 79, 0.66);
}

.welcome {
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-transform: uppercase;
}

.player {
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
}

.xo {
    font-size: 48px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    font-family: 'Baskervville', serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
}

.xo div {
    width: 60px;
    border-bottom: 5px solid;
    text-align: center;
}